<phpunit bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="unit">
            <directory>./tests</directory>
            <exclude>./tests/Sie4/integration</exclude>
        </testsuite>
        <testsuite name="docs">
            <file>./tests/DocumentationExamples.php</file>
        </testsuite>
        <testsuite name="integration">
            <directory>./tests/Sie4/integration</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
